# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Database
chat.db
*.db

# Audio files
*.wav
*.mp3

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.streamlit/secrets.toml